body{
  padding: 25px;
  background-color: #2e2d33;
  color: #e0d7c7;
}

a:link {
  color: #3fabaf;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3fabaf;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fd5825;
  background-color: transparent;
  text-decoration: underline;
}
